@import "utils";
@import "constants";

.banner-container {
  position: relative;
  height: 450px;
}

.banner__bigImg-container {

  a {
    position: absolute;
    margin-left: -960px;
    left: 50%
  }

  img {
    display: block;
  }
}

.banner__smallImg-container {
  position: absolute;
  right: 10px;
  top: 45px;
  background-color: map-get($header-bg-color, white);
  box-shadow: 0 4px 5px map-get($header-bg-color, gray);

  img {
    display: block;
  }
}

.banner__smallImg-basicBorder {
  border: 2px solid #fff;
}

.banner__smallImg-blueBorder {
  border: 2px solid #008cff;
}