@import "utils";
@import "constants";

.header-container {
  background: {
    color: map-get($header-bg-color, white);
  };
  position: relative;
  min-width: map-get($header-width, base);
  font-size: map-get($header-font, medium)
}

.top-bar {
  @include position-absolute(0, 0, 0);
  z-index: 1;
  background: #f0f0f0;
  height: map-get($header-height, top-bar);

  section {
    width: map-get($header-width, base);
    font-size: 0.5em;
    margin: 0 auto;
  }
}

.top-bar__menu {
  float: right;

  li {
    float: left;
    padding-right: 12px;
    padding-top: 10px;
    cursor: pointer;
  }
}

.top-bar__sub-menu {
  float: left;

  li {
    float: left;
    padding-left: 12px;
    padding-top: 10px;
    cursor: pointer;
  }
}

#header {
  width: map-get($header-width, base);
  height: map-get($header-height, header);
  margin: 0 auto;
  padding-top: map-get($header-height, top-bar);
  position: relative;
}

.header__category-btn {
  position: absolute;
  width: 110px;
  height: map-get($header-height, header);
  @include bg-img-no-repeat("https://static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png");

  p {
    display: block;
    text-align: center;
    font-size: 0.6em;
    color: map-get($header-font-color, white);
    margin-top: 73px;
    cursor: pointer;
  }
}

#header>section {
  width: map-get($header-width, base) * 0.86;
  height: map-get($header-height, header) * 0.79;
  margin: 25px 0 0 140px;

  h1 {
    height: 41px;
    width: 174px;
    margin: 2px 20px 0 0;
    float: left;

    @include bg-img-no-repeat("https://image7.coupangcdn.com/image/coupang/common/logo_coupang_w350.png");
    background: {
      size: 100%;
    };
  }
}

.header__inner-container {
  width: 100%;
  height: 56px;
}

.form-container {
  width: map-get($header-width, search-form);
  height: map-get($header-height, search-form);
  background-color: map-get($header-bg-color, white);
  border: 2px solid #4285f4;
  float: left;
  position: relative;
}

.header__form {
  height: 100%;
}

.header__form__select {
  position: relative;
  width: map-get($header-width, search-form) * 0.25;
  height: 100%;
  border-right: 1px solid #ddd;
  font-size: map-get($header-font, small);
  text-indent: 10px;
  line-height: map-get($header-height, search-form);
  color: map-get($header-font-color, dark-gray);
  text-align: left;
}

#select-btn {
  height: 100%;
  width: 100%;
  border: 0;
  @include position-absolute(0, 0);
  cursor: pointer;
  font-size: map-get($header-font, small);
  text-indent: 10px;
  line-height: map-get($header-height, search-form);
  color: map-get($header-font-color, dark-gray);
  text-align: left;
}

.btn-down {
  @include bg-img-no-repeat("https://static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png");
  background: {
    position: 109px -163px;
    color: map-get($header-bg-color, white);
  };
}

.btn-up {
  @include bg-img-no-repeat("https://static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png");
  background: {
    position: 109px -141px;
    color: map-get($header-bg-color, white);
  };
}

.header__select__list {
  max-height: 0;
  border: 1px solid #ddd;
  background-color: map-get($header-bg-color, white);
  width: inherit;
  @include position-absolute(map-get($header-height, search-form), -1px);
  overflow-y: auto;
  box-shadow: 0 5px 5px #ddd;
  transition: all 0.5s ease-in-out;

  li {
    color: map-get($header-font-color, dark-gray);
    font-weight: bold;
    &:hover {
      text-decoration: underline;
      color: #008cff;
    }
  }
}

.header__select--slide-down {
  max-height: 800px;
  visibility: visible;
}

.header__form__search {
  width: 75%;
  height: 100%;
  @include position-absolute(0, 131px);

  input {
    width: 338px;
    height: 95%;
    border: none;
    outline: none;
    text-indent: 10px;
  }

  >button {
    width: 50px;
    height: 37px;
    border: 0;
    background-color: map-get($header-bg-color, white);
    @include bg-img-no-repeat("https://static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png");
    background: {
      position: -112px -71px;
    };
    @include position-absolute(auto, auto, 2px);
    cursor: pointer;

  }
}

.header__search__prefix-container {
  max-height: 800px;
  border: 1px solid #ddd;
  background-color: map-get($header-bg-color, white);
  width: 100%;
  @include position-absolute(map-get($header-height, search-form), -1px);
  overflow-y: auto;
  box-shadow: 0 5px 5px #ddd;

  li {
    color: black;
    font-size: map-get($header-font, small);
    padding: 7px;

    strong {
      color: map-get($header-font-color, blue);
      font-weight: bold;
    }
  }
}

.header__search__history-container {
  border: 1px solid #ddd;
  background-color: map-get($header-bg-color, white);
  width: 100%;
  @include position-absolute(map-get($header-height, search-form), -1px);
  display: flex;
  flex-flow: column;
}

.history-top {
  height: 300px;
  font-size: map-get($header-font, small) * 1.1;
  padding: 10px;
  display: flex;
  flex-flow: column;
  overflow-y: auto;

  >div:nth-child(1) {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    height: 30px;
    line-height: 30px;
  }
}

.history-main {
  flex-grow: 1;
  padding: 10px 0;
  line-height: 30px;

  li {
    display: flex;
    justify-content: space-between;
    height: 30px;
    font-size: map-get($header-font, small) * 1.1;

    a {
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .history-delete {
    cursor: pointer;
    width: 12%;
    background-color: map-get($header-bg-color, white);
    border: 0;
    outline: 0;
    font-size: map-get($header-font, small);

    &:hover {
      text-decoration: underline;
    }
  }
}

.history-off {
  text-align: center;
  font-size: map-get($header-font, medium);
  line-height: 100px;
}

.history-bottom {
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  background-color: map-get($header-bg-color, gray);
  padding: 10px;
  box-sizing: border-box;

  button {
    cursor: pointer;
    background-color: map-get($header-bg-color, gray);
    font-size: map-get($header-font, small);
    border: 0;
    outline: 0;
  }
}


.key-on {
  background-color: blanchedalmond;
}

.icon-menus {
  font-size: map-get($header-font, small);
  float: left;

  li {
    float: left;
    cursor: pointer;
    width: 50px;
    margin-left: 20px;
    text-align: center;
    color: map-get($header-font-color, dark-gray);
  }
}

.menus__mycoupang {
  height: 52px;

  p {
    width: inherit;
    padding-top: 7px;
  }
}

.menus__mycart {
  height: 60px;
  margin-top: -8px;

  p {
    width: inherit;
    padding-top: 4px;
  }
}

.icon-mycoupang {
  width: 29px;
  height: 31px;
  margin: 0 auto;
  display: block;
  @include bg-img-no-repeat("https://static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png");
  background: {
    position: -112px -42px;
  };
}

.icon-mycart {
  width: 40px;
  height: 41px;
  margin: 0 auto;
  display: block;
  @include bg-img-no-repeat("https://static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png");
  background: {
    position: -112px 0;
  };
}

.header__nav-bar {
  width: 714px;
  height: 34px;
  line-height: 34px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-content: center;

  li {
    font-size: map-get($header-font, small);
    cursor: pointer;
  }
}