body {
  background: $gray-0;
  color: $gray-9;
}

.header {
  margin: 0 auto;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1100;
}

.hidden {
  visibility: hidden;
}

.show {
  visibility: visible;
}
