$white: #fff;
$blue: #4285f4;

$bar-bg: #f0f0f0;

$carousel-wrap: #fafafa;

$search-category-border: #ddd;
$search-text: #555;

$category-text: #9cf;
<<<<<<< HEAD

$search-recent-text: #333;
$search-recent-footer-text: #888;
=======
>>>>>>> fcce232 (style: 검색창 카테고리 마크업, 스타일링 완료)
