$white: #fff;
$blue: #4285f4;

$bar-bg: #f0f0f0;

$carousel-wrap: #fafafa;

$search-category-border: #ddd;
$search-text: #555;

$category-text: #9cf;

$search-recent-text: #333;
$search-recent-footer-text: #888;
