@import './colors';

.btn {
  background-color: $white;
  border: 0;
  cursor: pointer;
}

.absolute-width-center {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

@mixin link-hover {
  color: $category-text;
  text-decoration: underline;
}
