/* top-nav */

.top-nav {
  background-color: #f0f0f0;
  height: 32px;
  display: block;
  width: 1020px;
  margin: 0 auto;

  &-wrapper {
    background-color: #f0f0f0;
  }

  &-left {
    float: left;
    height: 24px;
  }

  &-right {
    float: right;
    height: 24px;
  }

  li {
    color: #333;
    font-size: 11px;
  }
}

.align-horizontal {
  float: left;
  padding: 10px 0 0 12px;
}

/* header */

.my-coupang-icon,
.my-cart-icon,
.search-form-input-btn,
.category-btn {
  background-image: url(//static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png);
  background-repeat: no-repeat;
}

.header {
  width: 1020px;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.category-btn {
  width: 110px;
  height: 115px;
  top: 32px;
  left: 0;
  margin-right: 30px;
  background-position: 0 0;
  text-align: center;

  a {
    display: block;
    margin-top: 73px;
    color: #fff;
    font-size: 13px;
  }
}

.header-top {
  display: flex;
  padding-top: 30px;
  height: 50px;

  img {
    margin-right: 20px;
  }
}

/* search */

.search-form {
  height: 37px;
  width: 518px;
  border: 2px solid #4285f4;
  display: flex;
}

.select-category {
  width: 134px;
  font-size: 12px;
  font-weight: normal;
  display: block;
  border-right: 1px solid #ddd;
  cursor: pointer;

  a {
    color: #555;
    outline: 0;
    text-decoration: none;
  }

  &-content {
    height: 38px;
    width: 110px;
    line-height: 38px;
    margin-left: 10px;
  }

  &-toggle {
    background: url(//img1a.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png)
      6px -165px no-repeat;
    float: right;
    height: 30px;
    outline: 0;
    margin-right: 3px;
    top: 3px;
    width: 30px;
  }

  &-option {
    transform: scaleY(0);
    width: 125px;
    max-height: 844px;
    background-color: #fff;
    padding: 10px 0 10px 10px;
    border: 1px solid #f0f0f0;
    z-index: 2;
    overflow-y: auto;
    position: absolute;
    transform-origin: top center;
    transition: all 0.5s;

    li {
      padding: 7px 0 7px 3px;
    }

    a:hover {
      color: #4285f4;
      text-decoration: underline;
    }
  }

  .showCategory {
    transform: scaleY(1);
  }
}

.search-form-input {
  height: 34px;
  width: 310px;
  line-height: normal;
  color: #333;
  text-indent: 10px;
  font-size: 14px;
}

input {
  border: 0px solid #fff;
}

.search-form-input-btn {
  position: absolute;
  width: 50px;
  height: 39px;
  background-position: -112px -71px;
}

.my-coupang-icon-title {
  width: 50px;
  display: block;
  padding-top: 7px;
  text-align: center;
  color: #333;
  white-space: nowrap;
  font-size: 12px;
}

.my-coupang-icon {
  width: 29px;
  height: 31px;
  display: block;
  margin: 0 auto;
  background-position: -112px -42px;
}

.my-cart-icon-title {
  width: 50px;
  display: block;
  text-align: center;
  padding-top: 3px;
  color: #333;
  white-space: nowrap;
  font-size: 12px;
}

.my-cart-icon {
  width: 40px;
  height: 41px;
  display: block;
  margin: 0 auto;
  background-position: -112px 0;
}

.header-bottom {
  color: #333;
  font-size: 14px;
  width: 700px;
  height: 32px;
  display: flex;
  justify-content: space-between;
}

.banner {
  width: 1920px;
  height: 420px;
}

.autocomplete-popup {
  transform: scaleY(0);
  width: 374px;
  height: 328px;
  position: absolute;
  top: 70px;
  left: 470px;
  background-color: #fff;
  padding: 10px 0 10px 10px;
  border: 1px solid #f0f0f0;
  z-index: 15;

  li {
    font: normal 12px Tahoma;
    color: #4285f4;
    padding: 0 0 16px 0;

    span {
      color: #555;
    }
  }
}

.showAutocomplete {
  transform: scaleY(1);
}

.history-popup {
  transform: scaleY(0);
  width: 364px;
  height: 280px;
  position: absolute;
  top: 70px;
  left: 470px;
  background-color: #fff;
  padding: 0px 10px 10px 10px;
  border: 1px solid #f0f0f0;
  z-index: 10;

  h3 {
    font-size: 12px;
    padding: 14px 0 13px 4px;
    border-bottom: 1px solid #ddd;
  }

  li {
    font: normal 12px Tahoma;
    color: #555;
    padding: 10px 0 0 3px;

    &:hover {
      text-decoration: underline;
      color: #4285f4;
    }
  }

  span {
    width: 364px;
    height: 43px;
    display: block;
    margin: 12px 0;
    text-align: center;
    line-height: 43px;
    font-weight: bold;
    font-size: 12px;
    color: #666;
  }
}

.history-popup-btn {
  transform: scaleY(0);
  width: 374px;
  height: 12px;
  position: absolute;
  top: 358px;
  left: 470px;
  background-color: #f5f5f5;
  padding: 10px 0 10px 10px;
  border: 1px solid #f0f0f0;
  z-index: 10;

  border: 1px solid #ddd;

  li {
    font: normal 12px Tahoma;
    color: #555;
    padding: 0 0 16px 0;
  }

  .delete-all-history {
    float: left;
    color: #888;
    font-size: 12px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  .history-onoff {
    float: right;
    color: #888;
    font-size: 12px;
    margin-right: 10px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

.showHistoryPopup {
  transform: scaleY(1);
}
