.container {
  width: 1000px;
  margin: 0 auto;
}

.header-bar {
  background-color: $bg-color-header-link;
  height: 2rem;

  .header-link-area {
    display: flex;
    justify-content: space-between;
    line-height: 2rem;
  }
}
