.container {
  width: 1000px;
  margin: 0 auto;
}

.header-bar {
  background-color: $bg-color-header-link;
  height: 2rem;

  .header-link-area {
    display: flex;
    justify-content: space-between;
    line-height: 2rem;
  }
}

.search-form {
  .search-button {
    width: 50px;
    height: 39px;
  }

  .menu-icon {
    width: 20px;
    fill: $blue;
  }
}

.icon-menu-area {
  .menu-icon {
    width: 30px;
    height: 30px;
    fill: $icon-color-gray;
  }
}
