/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
  color: #333;
  font-family: sans-serif;
  text-decoration: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.bar-wrap {
  background-color: #f0f0f0;
  padding: 10px 0;
}

.bar {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin: 0 auto;
  width: 1000px;
}
.bar__list {
  display: flex;
}
.bar__item {
  margin: 0 10px;
}
.bar__item:first-child {
  margin-left: 20px;
}
.bar__item:last-child {
  margin-right: 20px;
}

.header-wrap {
  font-size: 13px;
}

.header {
  display: flex;
}
.header-gnb {
  background-color: #fff;
  color: #fff;
  height: 115px;
  position: relative;
  width: 110px;
}
.header-gnb__link {
  cursor: default;
  display: block;
}
.header-gnb__text {
  color: #fff;
  cursor: pointer;
  top: 65%;
}
.header-left {
  position: relative;
}
.header-right {
  margin-left: 40px;
  margin-top: 22px;
  width: 100%;
}
.header-top {
  display: flex;
  justify-content: space-around;
}
.header-logo {
  cursor: pointer;
  margin-top: 3.5px;
}
.header-bottom {
  margin-top: 20px;
}

.header-top-gnb {
  display: flex;
  margin-left: 30px;
}
.header-top-gnb__list {
  display: flex;
}
.header-top-gnb__item {
  margin-right: 15px;
  text-align: center;
}
.header-top-gnb__link {
  display: flex;
  flex-direction: column;
}
.header-top-gnb__text {
  margin-top: 13px;
}

.header-bottom-gnb {
  margin-top: 15px;
}
.header-bottom-gnb__list {
  display: flex;
}
.header-bottom-gnb__item {
  margin-right: 30px;
}

.search-form {
  border: 3px solid #4285f4;
  display: flex;
  height: 40px;
  margin-left: 15px;
}
.search-form .search-category {
  border-right: 1px solid #ddd;
  width: 125px;
}
.search-form .search-category__link {
  display: block;
  height: 100%;
  line-height: 34px;
  padding-left: 10px;
  width: 100%;
}
.search-form .search-text {
  border: 0;
  color: #555;
  padding-left: 10px;
  width: 310px;
}
.search-form .search-text:focus {
  outline: none;
}
.search-form .search-mic,
.search-form .search-btn {
  font-size: 18px;
}

.carousel-wrap {
  background-color: #fafafa;
}

.carousel {
  box-sizing: content-box;
  margin: 0 auto;
  position: relative;
  width: 1920px;
}
.carousel-imgs {
  background-size: cover;
}
.carousel-lnb {
  background-color: #fff;
  position: absolute;
  right: 450px;
  top: 50px;
}
.carousel-lnb__img {
  display: block;
}

.carousel-inner {
  overflow: hidden;
}
.carousel-inner__list {
  display: flex;
}
.carousel-inner__img {
  display: block;
}

.carousel-lnb__item--active {
  border: 3px solid #4285f4;
}

.btn {
  background-color: #fff;
  border: 0;
  cursor: pointer;
}

.absolute-width-center {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.category {
  position: relative;
}
.category__list {
  background-color: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  max-height: 0;
  overflow: hidden;
  position: absolute;
  transition: all 0.2s;
  transition-timing-function: linear;
  width: 124px;
  z-index: 99999999999;
}
.category__link {
  cursor: pointer;
  display: block;
  padding: 10px;
}
.category__link:hover {
  color: #9cf;
  text-decoration: underline;
}

.search-form {
  position: relative;
}

.search-auto {
  background-color: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 0;
  top: 34px;
  visibility: hidden;
  width: 365.5px;
  z-index: 99999999999;
}
.search-auto__list {
  padding: 0 10px;
}
.search-auto__item {
  margin: 15px 0;
}
.search-auto__link:hover {
  text-decoration: underline;
}
.search-auto__link--active {
  color: #4285f4;
  font-size: 14px;
  font-weight: bold;
}

.search-recent {
  background-color: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  display: block;
  position: absolute;
  right: 0;
  top: 34px;
  width: 365.5px;
  z-index: 99999999999;
}
.search-recent__title {
  border-bottom: 1px solid #ddd;
  color: #333;
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
}
.search-recent__list {
  font-size: 11px;
  padding: 0 10px;
}
.search-recent__item {
  margin: 15px 0;
}
.search-recent__link:hover {
  color: #9cf;
  text-decoration: underline;
}
.search-recent__footer {
  background-color: #f0f0f0;
  border-top: 1px solid #ddd;
  color: #888;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  padding: 8px 10px;
}
.search-recent--disable {
  display: none;
  text-align: center;
}
.search-recent--disable .search-recent__title {
  padding: 30px;
}

.btn {
  background-color: #fff;
  border: 0;
  cursor: pointer;
}

.absolute-width-center {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.header-lnb {
  background-color: #fff;
  position: absolute;
  top: 115px;
  z-index: 999999999;
}

.header-lnb-first__list {
  border: 1px solid #ddd;
  font-size: 12px;
  width: 165px;
}
.header-lnb-first__link {
  display: block;
  padding: 10px 8px;
  text-align: center;
}
.header-lnb-first__link:hover {
  color: #9cf;
  text-decoration: underline;
}
.header-lnb-first__hr {
  background-color: #ddd;
  border: 0;
  height: 1px;
  margin: 0;
}

.header-lnb-second__list {
  background-color: #fff;
  border: 1px solid #ddd;
  font-size: 11px;
  left: 165px;
  position: absolute;
  top: 0;
  width: 165px;
}
.header-lnb-second__item {
  text-align: center;
}
.header-lnb-second__link {
  display: block;
  padding: 10px 8px;
}
.header-lnb-second__link:hover {
  color: #9cf;
  text-decoration: underline;
}
.header-lnb-second__hr {
  margin: 0;
}

.header-lnb-third__list {
  background-color: #fff;
  border: 1px solid #ddd;
  left: 164px;
  position: absolute;
  top: -1px;
  width: 165px;
}
.header-lnb-third__item {
  text-align: center;
}
.header-lnb-third__link {
  display: block;
  padding: 10px 8px;
}
.header-lnb-third__link:hover {
  color: #9cf;
  text-decoration: underline;
}
.header-lnb-third__hr {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 1000px;
}

/*# sourceMappingURL=main.css.map */
