* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

li {
  list-style: none;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.background--gray {
  background-color: #e9ecef;
}

.background--blue {
  background-color: #228be6;
}

.color--white {
  color: #fff;
}

.color--black {
  color: #212529;
}

.color--gray {
  color: #868e96;
}

.padding--small {
  padding: 8px;
}

.font--small {
  font-size: 1.1rem;
}

.mr {
  margin-right: 10px;
}

.mr--auto {
  margin-right: auto;
}

.mb--small {
  margin-bottom: 3px;
}

.mb--large {
  margin-bottom: 10px;
}

.ml--auto {
  margin-left: auto;
}

.center {
  width: 1000px;
  margin: auto;
}

.icon {
  width: 30px;
  height: 30px;
}

.icon--small {
  width: 12px;
  height: 12px;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.l--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l--vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.l--vertical-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l--center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l--space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h2 {
  font-size: 2.2rem;
  font-weight: 600;
}

.gap--small {
  gap: 10px;
}

.position--relative {
  position: relative;
}

.main-header {
  padding: 30px 0px 0px 30px;
}

.logo {
  width: 180px;
}

.header {
  -ms-grid-columns: 1fr 9fr;
      grid-template-columns: 1fr 9fr;
  font-size: 1.2rem;
}

.header__nav {
  width: 785px;
  margin-bottom: 5px;
}

.header__nav--mini-img {
  margin-right: 3px;
}

.search {
  position: relative;
  cursor: pointer;
}

.search__container {
  border: 2px solid #228be6;
  width: 500px;
  height: 40px;
}

.search__category {
  width: 130px;
  height: 100%;
  padding: 10px;
  border-right: 1.5px solid #ced4da;
}

.search__category-list {
  border: 1.5px solid #ced4da;
  -webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 40px;
  left: 0;
  padding: 0px 10px 10px 10px;
  width: 130px;
  overflow-y: scroll;
  background-color: #fff;
  z-index: 1;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.search__category-list--item {
  padding-top: 13px;
}

.search__category-list--item:hover {
  color: #228be6;
  text-decoration: underline;
}

.search__input {
  border: none;
  width: 375px;
  height: 100%;
  font-size: 1.4rem;
  padding: 10px;
}

.search__input:link, .search__input:visited, .search__input:hover, .search__input:active, .search__input:focus {
  outline: none;
}

.search__recent-list {
  display: none;
  border: 1.5px solid #ced4da;
  -webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  position: absolute;
  background-color: #fff;
  left: 130px;
  width: 370px;
}

.search__recent-list--name {
  padding: 6px 0px 10px 0px;
  border-bottom: 1px solid #ced4da;
}

.search__list--item {
  font-size: 1.2rem;
  margin-top: 10px;
}

.search__list--item:hover {
  color: #228be6;
  text-decoration: underline;
}

.search__bottom-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 7px 10px;
  color: #868e96;
  background-color: #f1f3f5;
  border-top: 1.5px solid #ced4da;
}

.search__bottom-bar p:hover {
  text-decoration: underline;
}

.search__related-list {
  display: none;
  border: 1.5px solid #ced4da;
  -webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  position: absolute;
  background-color: #fff;
  left: 130px;
  width: 370px;
  height: 330px;
  font-size: 1.3rem;
}

.arrow--up {
  display: none;
}

.roll-down {
  max-height: 80vh;
  visibility: visible;
}

.roll-up {
  max-height: 0;
  visibility: hidden;
}

.record-on {
  height: 310px;
}

.record-off {
  display: none;
  height: 80px;
  line-height: 50px;
  text-align: center;
  color: #495057;
}

.focus {
  color: #228be6;
}

.focus--underline {
  color: #228be6;
  text-decoration: underline;
}

.match-word {
  color: #228be6;
}

.contents-header {
  margin-top: 30px;
  margin-bottom: 20px;
}

.banner {
  background-color: #e9ecef;
  height: 450px;
}

.banner__menu {
  -webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 200px;
}

.banner__menu--item {
  border: 1px solid #e9ecef;
  padding: 15px;
  font-size: 1.2rem;
  height: 60px;
}

.subtitle {
  font-size: 1.3rem;
  color: #495057;
}

.today-items {
  border: 1.5px solid #ced4da;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 12px;
  gap: 12px;
}

.today-item {
  border: 1.5px solid #ced4da;
  width: 100%;
  height: 250px;
}

.today-item:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.today-item:nth-child(2) {
  grid-column: 3 / -1;
}

.ad {
  position: absolute;
  top: 2%;
  right: -12%;
}

.ad-item {
  border: 1.5px solid #ced4da;
  width: 100px;
  height: 145px;
  border-radius: 5px;
}
/*# sourceMappingURL=style.css.map */