@mixin hiddenBox {
  border: solid $gray $border-main;
  box-shadow: 0.05rem 0.05rem 0.3rem 0.15rem $gray3;
}
@mixin selected {
  color: $blue-main;
  text-decoration: underline;
}

header {
  .small {
    font-size: 0.6rem;
    padding: 0.7rem;
    background-color: $gray;
    > :last-child {
      margin-left: auto;
    }
    div {
      * {
        margin: 0.4rem;
      }
      :first-child {
        margin-left: 0;
      }
      :last-child {
        margin-right: 0;
      }
    }
  }

  .main {
    height: 8rem;
    @include divideFlex(1, 6, 1.5);
  }

  .categories {
    @include divideFlex(1, 1, 1);
  }

  .categories-btn {
    font-size: 2rem;
    height: 8rem;
    background-color: $blue-main;
    text-align: center;
    align-items: center;
    color: $white;
    div {
      padding-top: 0.5rem;
      font-size: 0.8rem;
    }
  }

  .categories-list {
    @include hiddenBox;
    ul {
      height: 22rem;
      border-left: solid $border-main $gray;
      padding: 0.3rem;
      li {
        padding-bottom: 0.6rem;
        font-size: 0.6rem;
      }
      .selected {
        @include selected;
      }
    }
    > :first-child {
      li {
        padding-bottom: 0.7rem;
        font-size: 0.7rem;
      }
      border-left: none;
    }
  }

  .center-main {
    > * {
      height: 2.5rem;
    }
    height: 6rem;
    .img {
      padding: 1rem;
    }
  }

  .center-search {
    @include divideFlex(1, 3);
    border: solid $border-main $blue-main;
  }

  .center-filter {
    position: relative;
    &-btn {
      @include divideFlex(7, 1);
      align-items: center;
      > * {
        line-height: 2.5rem;
        height: 2.5rem;
        padding: 0 0.2rem;
      }
    }
    &-list {
      overflow: hidden;
      position: absolute;
      @include hiddenBox;
      width: calc(100% - $border-main);
      left: -$border-main;
      li {
        color: $gray2;
        padding: 0.4rem;
      }
      .selected {
        @include selected;
      }
    }
  }

  .center-form {
    position: relative;
  }

  .center-search-box {
    @include divideFlex(10, 1);
    > * {
      height: 2.5rem;
    }
    button {
      background-color: $white;
      font-size: 0.8rem;
      color: $blue-main;
    }
  }

  .center-search-input {
    margin-left: 0.4rem;
  }

  .center-relative-info {
    width: calc(100% - $border-main);
    position: absolute;
    @include hiddenBox;
    @mixin info-padding-margin {
      padding: 0.5rem 0;
      margin: 0 0.5rem;
    }
    &-name {
      @include info-padding-margin;
      border-bottom: solid $gray $border-main / 2;
    }
    &-list > li {
      @include info-padding-margin;
      color: $gray2;
    }
    &-list > .selected {
      @include selected;
    }
    &-option {
      @include info-padding-margin;
      @include divideFlex(1, 1);
      margin: 0;
      padding: 0.5rem;
      background-color: $gray;
      justify-content: space-between;
      :last-child {
        text-align: right;
      }
    }
  }

  .personal {
    @include divideFlex(1, 1);
    text-align: center;
    padding: 0.5rem;
    color: $gray2;
    i {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }
}
