@mixin flexbox($vertical-align: center, $horizontal-align: center) {
  display: flex;
  justify-content: $vertical-align;
  align-items: $horizontal-align;
}

@mixin button-background($positionX: 0, $positionY: 0) {
  background: $url $positionX $positionY no-repeat;
}
