.search-box {
  @include flexbox(space-between, center);
  width: 522px;
  height: 41px;
  margin: 0 22px;
  border: 2px solid $font-blue;

  .search-category {
    font-size: 12px;
    font-weight: normal;
    text-indent: 10px;
  }

  .search-category-button {
    @include button-background(6px, -165px);
    display: block;
    width: 30px;
    height: 30px;
    border: 0;
  }

  .search-bar {
    width: 380px;
    height: 37px;
    padding: 0 10px;
    border: 0;
  }
  
  .search-bar-button {
    @include button-background(-112px, -71px);
    width: 50px;
    height: 39px;
    border: 0;
  }

  .popup-keywords {
    position: absolute;
    top: 70px;
    left: 405px;
    width: 435px;
    height: auto;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid $font-gray;
    box-shadow: 0 2px 3px $font-gray;
  }
}
