.search-category {
  @include flexbox(space-between, center);
  width: 150px;

  span {
    font-size: 12px;
    font-weight: normal;
    text-indent: 10px;
  }

  .search-category-button {
    @include button-background(6px, -165px);
    display: block;
    width: 30px;
    height: 30px;
    border: 0;
  }
}
