.search-bar {
  @include flexbox;
  
  .search-bar-input {
    width: 330px;
    height: 37px;
    padding: 0 10px;
    border: 0;
  }

  .search-bar-button {
    @include button-background(-112px, -71px);
    width: 40px;
    height: 40px;
    border: 0;
  }

  .popup-keywords {
    @include absolute-top-left(70px, 470px);
    @include border-box-shadow(2px, 3px);
    width: 370px;
    height: auto;
    padding: 10px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 1.5;

    .recent-search-text {
      position: relative;
      height: 11px;
      padding: 5px;
      margin: 6px;
      border-bottom: 1px solid $color-gray;
      line-height: 0;
    }

    .recent-search-list {
      padding: 5px;
      margin: 6px;

      li {
        @include flexbox(space-between, center);
        &:hover {
          button {
            visibility: visible;
          }
        }
        button {
          visibility: hidden;
          border: 0;
          background-color: $color-white;
        }
      }
    }

    .relative-keyword-list {
      strong {
        color: $color-blue;
      }
    }
  }
}