.search {
  @include flex();
  border: 1.5px $baseBlue solid;
  width: 400px;
  height: 30px;
  margin-top: 19px;
  position: relative;

  .search__category {
    @include flex(space-around, center);
    cursor: pointer;
    width: 100px;
    color: $baseGray;
    border-right: 1px $baseLightGray solid;
    font-size: nth($fontSizes, 1);
  }

  .search__category-list {
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    left: -1px;
    top: 30px;
    max-height: 0px;
    width: 100px;
    background-color: $baseBgColor;
    font-size: nth($fontSizes, 1);
    color: $baseGray;
    transition: max-height 0.2s;
    li {
      cursor: pointer;
      padding: 5px;
      margin: 5px 0px;
      &:hover {
        color: $baseBlue;
        text-decoration: underline;
      }
    }
  }
  .list-act {
    max-height: 1000px;
  }
  .search__input {
    @include flex(space-around, center);
    width: 300px;
    input {
      width: 220px;
    }
    .input__icon {
      margin: 0px 3px;
    }
    i {
      cursor: pointer;
      font-size: nth($fontSizes, 3);
      color: $baseBlue;
    }
    .fa-microphone {
      color: $baseGray;
    }
  }
}

.search__layout {
  @include position-abs(99px, 30px);
  box-shadow: $boxShadow;
  width: 300px;
  height: 250px;
  background-color: $baseBgColor;
  border: 1px $baseLightGray solid;
  font-size: nth($fontSizes, 1);
  .selected {
    text-decoration: underline;
  }
}

.layout__body {
  @include flex();
  color: $baseGray;
  flex-direction: column;
  padding: 10px;
  height: 190px;
  span {
    margin: 7px 0px;
  }
}

.search__recent {
  @extend .search__layout;
  @include flex();
  flex-direction: column;
  display: none;

  div {
    border: 0.2px $baseLightGray solid;
  }
  .recent__title {
    @include flex(normal, center);
    font-weight: nth($fontWeights, 2);
    height: 30px;
    padding-left: 10px;
  }
  .recent__body {
    @extend .layout__body;
    .selected {
      color: $baseBlue;
    }
  }
  .recent__footer {
    @include flex(space-between, center);
    height: 30px;
    color: $baseGray;
    background-color: $baseLightGray;
    span {
      margin: 0px 15px;
    }
  }
}

.search__suggestion {
  @extend .search__layout;
  display: none;
  .suggestion__body {
    @extend .layout__body;
    .matchedWord {
      color: $baseBlue;
    }
  }
}
