.header__category {
  @include flex(center, center);
  flex-direction: column;
  height: 100px;
  width: 100px;
  background-color: $baseBlue;
  color: $fontWhite;
  position: relative;

  .category__box {
    @include flex();
    flex-direction: column;
    background-color: $baseBgColor;
    color: $baseBlack;
    font-size: nth($fontSizes, 1);
    border: 1px $baseLightGray solid;
    li {
      cursor: pointer;
      padding: 10px;
    }
    .list-over {
      text-decoration: underline;
      text-decoration-color: $baseBlue;
      color: $baseBlue;
    }
  }

  .category__main {
    @extend .category__box;
    @include position-abs(0px, 100px);
    width: 130px;
  }

  .category__sub {
    @extend .category__box;
    @include position-abs(130px, 100px);
    width: 130px;
    li:nth-child(1) {
      margin-top: 15px;
    }
    li {
      padding: 6px 10px;
    }
  }
}
