@import '../colors';

.carousel-wrap {
  background-color: $carousel-wrap;
}

.carousel {
  box-sizing: content-box;
  margin: 0 auto;
  position: relative;
  width: 1920px;

  &-imgs {
    background-size: cover;
  }

  &-lnb {
    background-color: $white;
    position: absolute;
    right: 450px;
    top: 50px;

    &__img {
      display: block;
    }
  }
}

.carousel-inner {
  overflow: hidden;

  &__list {
    display: flex;
  }

  &__img {
    display: block;
  }
}

.carousel-lnb__item--active {
  border: 3px solid $blue;
}
