@import '../colors';
@import '../utils';

.search-category {
  position: relative;
}

.category {
  display: none;
  position: absolute;
  top: 110;
  left: 34;
  z-index: 99999999999;
  box-shadow: 0 4px 5px rgb(0 0 0 / 30%);
  transition: all 1s;

  &__list {
    background-color: $white;
  }

  &__item {
    width: 110px;
    height: 34px;
    padding-left: 10px;
    line-height: 34px;
  }

  &__link {
    display: block;
    cursor: pointer;
  }

  &__link:hover {
    @include link-hover;
  }
}
