@import '../colors';

.header-wrap {
  font-size: 13px;
}

.header {
  display: flex;

  &-gnb {
    background-color: $white;
    color: $white;
    height: 115px;
    position: relative;
    width: 110px;

    &__link {
      cursor: default;
      display: block;
    }

    &__text {
      color: $white;
      cursor: pointer;
      top: 65%;
    }
  }

  &-left {
    position: relative;
  }

  &-right {
    margin-left: 40px;
    margin-top: 22px;
    width: 100%;
  }

  &-top {
    display: flex;
    justify-content: space-around;
  }

  &-logo {
    cursor: pointer;
    margin-top: 3.5px;
  }

  &-bottom {
    margin-top: 20px;
  }
}

.header-top-gnb {
  display: flex;
  margin-left: 30px;

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 15px;
    text-align: center;
  }

  &__link {
    display: flex;
    flex-direction: column;
  }

  &__text {
    margin-top: 13px;
  }
}

.header-bottom-gnb {
  margin-top: 15px;

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 30px;
  }
}

.search-form {
  border: 3px solid $blue;
  display: flex;
  height: 40px;
  margin-left: 15px;

  .search-category {
    width: 125px;
    border-right: 1px solid $search-category-border;

    &__link {
      display: block;
      height: 100%;
      line-height: 34px;
      padding-left: 10px;
      width: 100%;
    }
  }

  .search-text {
    border: 0;
    color: $search-text;
    padding-left: 10px;
    width: 310px;

    &:focus {
      outline: none;
    }
  }

  .search-mic,
  .search-btn {
    font-size: 18px;
  }
}
