@import '../colors';
@import '../utils';

.search-form {
  position: relative;
}

.search-auto {
  background-color: $white;
  box-shadow: 0 4px 5px rgb(0 0 0 / 30%);
  position: absolute;
  right: 0;
  top: 34px;
  visibility: hidden;
  width: 365.5px;
  z-index: 99999999999;

  &__list {
    padding: 0 10px;
  }

  &__item {
    margin: 15px 0;
  }

  &__link:hover {
    text-decoration: underline;
  }

  &__link--active {
    font-size: 14px;
    color: $blue;
    font-weight: bold;
  }
}
