.g-category {
  position: relative;
  z-index: $category-list-z;

  .category-layer {
    position: absolute;
    top: 100%;
    background-color: $white;

    &-depth-1 {
      position: absolute;
      top: 0%;
      left: 100%;
      display: none;
      width: 300%;
      height: 200%;
      padding: 8px 0 8px 16px;
      background-color: $white;
      border: 1px solid $gray-dark;
    }
  }

  .category-list {
    position: relative;

    width: 170px;
    padding: 8px 0;
    border: 1px solid $gray-dark;
  }

  .category-item {
    @include font-style($font-md, $primary);
    @include flexbox;

    &.is-open {
      > .category-layer-depth-1 {
        display: block;
      }

      > i {
        color: $border;
      }

      > a {
        color: $border;
        text-decoration: underline;

        i {
          display: inline;
        }
      }
    }

    i {
      flex-basis: 20px;
      margin: 0 8px;
    }

    a {
      position: relative;
      display: block;
      width: 100%;
      padding: 10px 25px 10px 0;

      i {
        position: absolute;
        right: 10px;
        display: none;
      }
    }
  }

  .depth-1-menu-item {
    @include font-style($font-md, $primary);

    &:hover {
      a {
        color: $border;
        text-decoration: underline;
      }
    }
  }
}
