header

  section.small.flex
    div
      span 즐겨찾기
      span 입점신청
    div
      span 로그인
      span 회원가입
      span 고객센터

  section.main.flex

    div.categories
      div.categories-btn.flex
        i.fas.fa-bars
          div 카테고리
      ul.categories-list
        each category in categories 
          li=category

    div.center
      div.center-main.flex
        img.img(src="/images/logo.png")
        div.center-search.flex
          div.center-menu 
            div.center-menu-selected.flex
              div 전체
              i.fas.fa-chevron-down
            ul.center-menu-list
              each category in categories 
                li=category
          form.center-form
            div.center-search-box.flex
              input.center-search-input(name="search", type="text", placeholder="찾고 싶은 상품을 검색하세요!")
              button
                i.fas.fa-search
            div.center-relative-info.hidden
              h3.center-relative-info-name 최근 검색어
              ul.center-relative-info-list
                each keyword in recentKeywords 
                  li=keyword
              div.center-relative-info-option.flex
                div 전체삭제
                div 최근 검색어 끄기

              


      div.center-nav

    div.personal.flex
      div.my
        i.fas.fa-user 
        div 마이 쿠팡
      div.cart 
        i.fas.fa-shopping-cart
        div 장바구니
      
    