// node-sass [옵션] <입력파일경로> [출력파일경로]    !컴파일방법

$contentsWidth: 1000px;
$signatureColor: #4285f4;
$searchZoneHeight: 70px;
$defaultPadding: 10px;

rowDisplayAlignCenter {
  display: flex;
  align-items: center;
}

rowDisplayJustifyCenter {
  display: flex;
  justify-content: center;
}

columnDisplay {
  display: flex;
  flex-direction: column;
}

centerAlignment {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin getWH($width, $height) {
  width: $width;
  height: $height;
}

////////////////////////////////////////////////////////
.header {
  @extend columnDisplay;
  align-items: center;
}

//클래스를 통해 스타일을 주는것과 태그에 스타일을 주는것중 무엇이 좋을지? 고민하다 이부분은 태그명으로 짜두었습니다.
.header__top {
  //flex 가로 정렬
  @extend rowDisplayJustifyCenter;
  width: 100%;
  background-color: #f0f0f0;

  ul {
    display: flex;
    justify-content: space-between;
    width: $contentsWidth;
  }

  li {
    display: flex;
    div {
      padding: $defaultPadding;
    }
  }
}

.header__main {
  @extend rowDisplayJustifyCenter;
  width: $contentsWidth;

  .header__main--category {
    @extend centerAlignment;
    @include getWH(110px, 115px);
    background-color: $signatureColor;
  }

  .header__main--card {
    @extend columnDisplay;
  }
}

.header__main--contents {
  .header__main--shoppingNav {
    display: flex;

    li {
      padding-left: 25px;
    }
  }
  .header__main--searchZone {
    @extend rowDisplayAlignCenter;

    .header__main--logo {
      @include getWH(225px, $searchZoneHeight);
      background-image: url("https://image7.coupangcdn.com/image/coupang/common/logo_coupang_w350.png");
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      background-origin: content-box;
      padding: $defaultPadding;
    }

    .header__main--searchInput {
      @include getWH(520px, 40px);
      display: inline-block;
      border: 1.5px solid $signatureColor;
      position: relative;
    }

    .header__main--myShopping {
      @include getWH(50px, $searchZoneHeight);
      background-color: #f0f0f0;
    }
  }
}

.search--toggle--ul {
  width: inherit;
  border: 1px solid $signatureColor;
  position: absolute;
  z-index: 1;
  background-color: #f0f0f0;

  .search--toggle--li {
    @extend centerAlignment;
    height: 15px;
    border-bottom: 0.5px solid #f0f0f0;
  }
}
