.slide-section {
  position: relative;
  width: 950px;
  margin: 0 auto;
  margin-top: 130px;
  .image-box {
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    height: 330px;
    width: 950px;
    .image-container {
      position: absolute;
      height: 330px;
      width: 950px;
      top: -330px;
      white-space: nowrap;
      list-style: none;
      .image-element {
        text-decoration: none;
        width: 950px;
        height: 330px;
        float: left;
      }
    }
  }
}
